<!-- views/dbtest.ejs -->
<!DOCTYPE html>
<html lang="en" ng-app="myBlog">
<head>
    <%- include('partials/head') %>
    <!-- Custom styles for this template -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Blog theme from Bootstrap -->
    <link href="stylesheets/blog.css" rel="stylesheet">
    <script src="core.js"></script>
</head>
<body class="container" ng-controller="mainController">

<header>
    <%- include('partials/header') %>
</header>

<main role="main" class="container">
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-8 blog-main">

            <!-- top card -->
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">{{ posts[0].title }}</h3>
                    <div class="mb-1 text-muted">{{ posts[0].publish_date }} by <a href="#">{{ posts[0].author }}</a></div>
                    <p class="card-text mb-auto">{{ posts[0].body }}</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/square/astronaut.jpg" alt="Astronaut" class="" style="height:250px">
                </div>
            </div>

            <h3 class="pb-4 mb-4 font-italic border-bottom">
                <%=title%> with <span class="label label-info">{{ posts.length }}</span> Posts
            </h3>

            <!-- Iterate over the posts -->
            <!--<div id="blog-posts" class="row">-->

            <div class="blog-post" ng-repeat="post in posts">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.publish_date }} by <a href="#">{{ post.author }}</a></p>
                <p class="blog-post-meta">Tags:
                    <!-- Iterate over the tags -->
                    <span ng-repeat="tag in post.tags">
                        <a href="#" class="badge badge-pill badge-info">{{ tag }}</a>
                    </span>
                </p>
                {{ post.body }}
            </div><!-- /.blog-post -->

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">This is an example blog that pulls the blog posts from a MongoDB database. Pretty slick, right? Oh, and the Archives aren't real.</p>
            </div>

            <div class="p-4">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">April 2019</a></li>
                    <li><a href="#">October 2019</a></li>
                    <li><a href="#">January 2020</a></li>
                    <li><a href="#">February 2020</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

<footer>
    <%- include('partials/footer') %>
</footer>

</body>
</html>
